footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  background: $primary;
  padding: 1rem 2rem;
  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: $lighter-accent;
    }
  }
  .social {
    margin-bottom: 0.5rem;
    a {
      font-size: 1.5rem;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
