$primary: #dd6031;
$lighter-primary: lighten($primary, 20%);
$lightest-primary: lighten($primary, 40%);

$accent: #81f499;
$lighter-accent: lighten($accent, 20%);
$lightest-accent: lighten($accent, 40%);

$black: #41463d;
$gray: #eee;

.clearfix {
  overflow: auto;
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

body {
  overflow-x: hidden;
}
