#mainContent {
  width: 100%;
  padding: 1rem;
  .tagline {
    color: $primary;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
  }
  .recipe {
    .recipeHeader {
      img {
        width: 75%;
        height: auto;
        margin: 1rem auto;
        display: block;
      }
      .recipeGroup {
        .headline {
          margin-bottom: 1rem;
          font-size: 1.25rem;
          color: $black;
        }
        .share {
          background: $primary;
          padding: 1rem 2rem;
          width: 75%;
          margin: 1rem auto 2rem;
          h3 {
            color: white;
          }
          .links {
            font-size: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            margin-top: 1rem;
            a {
              color: white;
              transition: color 0.4s ease;
              &:hover {
                color: $lighter-primary;
              }
            }
          }
        }
        .recipeInfo {
          display: grid;
          width: 75%;
          grid-template-columns: 1fr 1fr;
          margin: 0 auto;
          margin-bottom: 1rem;
          border: solid 1px $lighter-primary;
          color: $black;
          p {
            border-top: solid 1px $lightest-primary;
            border-left: solid 1px $lightest-primary;
            padding: 1rem;
            color: $black;
          }
        }
      }
    }
    .instructions {
      color: $black;
      .ingredients {
        ul {
          width: 85%;
          margin: 0.5rem auto 1rem;
          list-style: none;
          li {
            margin: 0.5rem 0;
            &:before {
              content: "\2022";
              color: $accent;
              font-weight: bold;
              display: inline-block;
              width: 1rem;
              margin-left: -1rem;
            }
          }
        }
      }
      .directions {
        ol {
          list-style: none;
          counter-reset: my-counter;
          width: 85%;
          margin: 0.5rem auto 1rem;
          li {
            counter-increment: my-counter;
            margin: 1rem 0;
            &:before {
              content: counter(my-counter);
              color: white;
              background: $lighter-accent;
              text-align: center;
              display: inline-block;
              line-height: 1.5rem;
              border-radius: 50%;
              width: 1.5rem;
              height: 1.5rem;
              font-weight: bold;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}
