@media (min-width: 767px) {
  nav {
    align-items: flex-end;
    #navContent {
      right: 0;
      top: 0;
      opacity: 1;
      flex-direction: row;
      justify-content: flex-end;
      background: none;
      width: max-content;
      a {
        margin-right: 20px;
      }
    }
    #hamburger,
    .close {
      display: none;
    }
    .socials {
      width: max-content;
    }
  }
}
