@media (min-width: 767px) {
  nav {
    align-items: flex-end;
    #navContent {
      right: 0;
      top: 0;
      opacity: 1;
      flex-direction: row;
      justify-content: flex-end;
      background: none;
      width: max-content;
      a {
        margin-right: 20px;
      }
    }
    #hamburger,
    .close {
      display: none;
    }
    .socials {
      width: max-content;
    }
  }

  #mainContent {
    padding: 2rem;
    .recipe {
      .recipeHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 2rem 0;
        img {
          width: 35%;
        }
        .recipeGroup {
          width: 48%;
          display: flex;
          justify-content: space-around;
          align-items: flex-start;
          flex-direction: column;
        }
      }
      .instructions {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;
        border-top: solid 2px $accent;
        padding-top: 2rem;
        &:after {
          height: 100%;
          background: $accent;
          width: 2px;
          content: "";
          position: absolute;
          left: 50%;
          top: 0;
          z-index: 50;
        }
        .ingredients,
        .directions {
          width: 48%;
        }
      }
    }
  }

  #related {
    .cards {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .card {
        width: 40%;
        .cardImg {
          width: 100%;
          height: 300px;
          background-size: cover;
          background-position: center;
        }
        h4 {
          margin: 0.5rem 0;
        }
        .shortDescr {
          font-size: 0.9rem;
          font-style: italic;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #related {
    .cards {
      .card {
        width: 20%;
      }
    }
  }
}
