@media (min-width: 767px) {
  nav {
    align-items: flex-end;
  }
  #navContent {
    right: 0 !important;
    top: 0 !important;
    opacity: 1 !important;
    flex-direction: row !important;
    justify-content: flex-end !important;
    background: none !important;
    width: max-content !important;
    a {
      margin-right: 20px;
    }
  }
  #hamburger,
  .close {
    display: none !important;
  }
  .socials {
    width: max-content !important;
  }
}
